<h3>
  <%= t("result_message", :word => @word, :from => @from.upcase, :to => @to.upcase) %>
</h3>

<p>
  <% if @wynik.blank? %>
    <%= t("no_result") %>
  <% else %>
    <%= @wynik.definition %>
  <% end %>
</p>