<% if @wynik.blank? %>
  <h3>
    <%= t("result_message", :word => @word, :from => @from.upcase, :to => @to.upcase) %>
  </h3>
  <p>
    <%= t("no_result") %>
  </p>
<% else %>
  <h3 class="result">
    <%= @word.capitalize %>
  </h3>
  <ol class="results-list">
    <% @wynik.each do |w| %>
      <li><%= w.definition %></li>
    <% end %>
  </ol>
<% end %>