<%= image_tag "list-arrow.png", :class => 'arrow' %>
<ul>
<%if not @result.empty? %>
  <% for word in @result do %>
    <li><%= word.word %></li>
  <% end %>
<% else %>
  <%= t("no_result") %>
<% end %>
</ul>