<%= image_tag "list-arrow.png", :class => 'arrow' %>
<ul>
<%if not @result.empty? %>
  <% for word in @result do %>
    <li><a><%= word.word %></a></li>
  <% end %>
<% else %>
  <li><%= t("no_result") %></li>
<% end %>
</ul>