<h2>
  <%= t("welcome_message1") %>
</h2>
<h3>
  <%= t("welcome_message2") %>
</h3>
<ul class="dictionary-list">
  <% @dict.each do |d| %>
    <li><%= d[:from].name + " -> " + d[:to].name %></li>
  <% end %>
</ul>