$lines: #2c3e50;
$bg: #ffffff;
$buttons: #1abc9c;
$buttonsHover: #48c9b0;
$textColor: #2c3e50;
$headerHeight: 65px;
$wordInputWidth: 200px;
$selectWidth: 40px;

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

@keyframes buttonIn
{
0%   { background: $buttons; }
100% { background: $buttonsHover; }
}

@-webkit-keyframes buttonIn
{
0%   { background: $buttons; }
100% { background: $buttonsHover; }
}

@keyframes buttonOut
{
0%   { background: $buttonsHover; }
100% { background: $buttons; }
}

@-webkit-keyframes buttonOut
{
0%   { background: $buttonsHover; }
100% { background: $buttons; }
}

body {
  background: $bg;
  font: {
    family: 'Lato', sans-serif;
    size: 14px;
    line-height: 16px;
    weight: 400;
    style: normal;
  }
  color: $textColor;
}

div.header {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $headerHeight;
  background: $lines;

  div.inside {
    width: 1000px;
    height: inherit;
    margin: 0px auto;

    h1 {
      color: white;
      float: left;
      display: block;
      height: $headerHeight;
      line-height: $headerHeight;
      width: 400px;
      font-size: 30px;
      font-weight: bold;
      margin-right: 20px;
    }

    a {
      color: white;
    }
  }
}

form.word-input {
  height: $headerHeight - 30px;
  width: 490px;
  float: left;
  padding: 15px 0px;
  position: relative;

  div.select {
    width: $selectWidth;
    overflow: hidden;
    height: 20px;
    padding: 5px;
    margin-right: 10px;
    float: left;
    border: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: white;

    select {
      display: block;
      float: left;
      width: $selectWidth + 20px;
      height: 20px;
      line-height: 20px;
      text-align: left;
      border: 0px;
      background: transparent;
      color: $textColor;
      text-transform: uppercase;
    }
  }

  input[type=text] {
    display: block;
    float: left;
    width: $wordInputWidth;
    height: 20px;
    padding: 5px;
    margin-right: 10px;
    border: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: white;
  }

  a.submit {
    display: block;
    float: left;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: $buttons;
    animation: buttonOut 0.5s;
    -webkit-animation: buttonOut 0.5s;
    cursor: pointer;
    &:hover {
      animation: buttonIn 0.5s;
      -webkit-animation: buttonIn 0.5s;
      background: $buttonsHover;
    }
  }

  img.lang-arrow {
    display: block;
    float: left;
    width: 40px;
    height: 18px;
    padding-top: 2px;
    padding-bottom: 10px;
    margin-right: 5px;
    margin-left: -5px;
  }
}

div.prompt {
  z-index: 300;
  display: block;
  opacity: 0;
  position: absolute;
  top: 55px;
  left: 160px;
  background: transparent;
  width: $wordInputWidth + 10px;
  transition: all 0.3s linear 0s;

  &:hover {
    opacity: 1;
  }

  img.arrow {
    position: absolute;
    top: -7px;
    left: $wordInputWidth + 10px - 40px;
  }

  ul {
    width: $wordInputWidth - 6px;
    list-style: none;
    background: white;
    border: 3px $buttons solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;

    li {
      width: $wordInputWidth - 6px;
      height: 20px;
      line-height: 20px;
      display: block;
      overflow: hidden;

      a {
        display: block;
        width: $wordInputWidth - 6px;
        height: 20px;
        line-height: 20px;
        display: block;
        color: $textColor !important;
        cursor: pointer;
        background: transparent;
      }
    }
  }
}

ul.change-locale {
  float: left;
  height: $headerHeight;
  width: 90px;
  display: block;
  list-style: none;

  li {
    display: block;
    line-height: $headerHeight - 20px;
    height: $headerHeight - 20px;
    width: 30px;
    text-align: center;
    padding: 10px 0px;
    float: right;

    a {
      display: block;
      height: $headerHeight - 20px;
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

div.content {
  z-index: 1;
  margin: $headerHeight auto 40px auto;
  padding: 10px 0px;
  width: 1000px;

  h2 {
    font-size: 21px;
    padding: 10px 0px;
    font-weight: bold;
  }

  h3 {
    font-size: 17px;
    padding: 10px 0px;
    font-weight: bold;
  }
}

div.footer {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: $lines;

  div.inside {
    width: 1000px;
    margin: 0px auto;
  }

  p {
    color: white;
    text-align: left;
    height: 40px;
    line-height: 40px;

    a {
      display: block;
      height: 40px;
      float: right;
      color: white;
      margin-left: 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}