$lines: #2c3e50;
$bg: #ffffff;
$buttons: #1abc9c;
$buttonsHover: #48c9b0;
$textColor: #2c3e50;
$headerHeight: 65px;
$wordInputWidth: 200px;
$selectWidth: 40px;

@import url(http:/fonts.googleapis.com/css?family=Lato:400,700,400italic);

@keyframes buttonIn
{
0%   { background: $buttons; }
100% { background: $buttonsHover; }
}

@-webkit-keyframes buttonIn
{
0%   { background: $buttons; }
100% { background: $buttonsHover; }
}

@keyframes buttonOut
{
0%   { background: $buttonsHover; }
100% { background: $buttons; }
}

@-webkit-keyframes buttonOut
{
0%   { background: $buttonsHover; }
100% { background: $buttons; }
}

body {
  background: $bg;
  font: {
    family: 'Lato', sans-serif;
    size: 14px;
    line-height: 16px;
    weight: 400;
    style: normal;
  }
  color: $textColor;
  margin: 0px;
  padding: 0px;
}

div.header {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $headerHeight;
  background: $lines;
  margin: 0px;
  padding: 0px;

  div.inside {
    width: 1000px;
    height: inherit;
    margin: 0px auto;

    h1 {
      color: white;
      float: left;
      display: block;
      height: $headerHeight;
      line-height: $headerHeight;
      width: 400px;
      font-size: 30px;
      font-weight: bold;
      margin: 0px;
      padding: 0px;
      margin-right: 20px;
    }

    a {
      color: white;
    }
  }
}

form.word-input {
  height: $headerHeight - 30px;
  width: 490px;
  float: left;
  padding: 15px 0px;
  margin: 0px;
  position: relative;

  select {
    display: none;
  }

  ul.select {
    display: block;
    width: $selectWidth;
    height: 20px;
    padding: 5px;
    margin: 0px 10px 0px 0px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: white;

    li {
      display: block;
      width: $selectWidth;
      padding: 0px;
      margin: 0px;
      position: relative;

      a {
        display: block;
        width: $selectWidth;
        height: 20px;
        padding: 0px;
        margin: 0px;
        color: $textColor;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
      }

      ul.select-prompt {
        display: block;
        position: absolute;
        top: 32px;
        left: -5px;
        width: $selectWidth + 10px - 6px;
        list-style: none;
        background: white;
        border: 3px $buttons solid;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        margin: 0px;
        padding: 0px;
        transition: all 0.2s linear 0.2s;
        opacity: 0;
        visibility: hidden;

        &:before {
          content: " ";
          display: block;
          position: absolute;
          top: -10px;
          left: (($selectWidth + 10px - 6px) / 2)- 7px;
          width: 0px;
          height: 0px;
          border: {
            top: 0px;
            bottom: 7px $buttons solid;
            left: 7px transparent solid;
            right: 7px transparent solid;
          }
        }

        li {
          width: $selectWidth - 6px;
          height: 20px;
          line-height: 20px;
          display: block;
          margin: 0px;
          padding: 0px 5px;
          overflow: hidden;

          &:first-child {
            padding-top: 5px;
          }

          &:last-child {
            padding-bottom: 5px;
          }

          a {
            display: block;
            width: $selectWidth - 6px;
            height: 20px;
            line-height: 20px;
            display: block;
            margin: 0px;
            padding: 0px;
            color: $textColor !important;
            cursor: pointer;
            background: transparent;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &:hover ul.select-prompt {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  input[type=text] {
    display: block;
    float: left;
    width: $wordInputWidth;
    height: 20px;
    padding: 5px;
    margin: 0px 10px 0px 0px;
    border: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: white;
  }

  a.submit {
    display: block;
    float: left;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 5px;
    margin: 0px;
    border: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: $buttons;
    animation: buttonOut 0.5s;
    -webkit-animation: buttonOut 0.5s;
    cursor: pointer;
    &:hover {
      animation: buttonIn 0.5s;
      -webkit-animation: buttonIn 0.5s;
      background: $buttonsHover;
    }
  }

  img.lang-arrow {
    display: block;
    float: left;
    width: 40px;
    height: 18px;
    padding: 6px 0px;
    margin: 0px 5px 0px -5px;
  }
}

ul.change-locale {
  float: left;
  height: $headerHeight;
  width: 90px;
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;

  li {
    display: block;
    line-height: $headerHeight - 20px;
    height: $headerHeight - 20px;
    width: 30px;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
    float: right;
  }
}



div.prompt {
  z-index: 300;
  display: block;
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 45px;
  left: 160px;
  background: transparent;
  width: $wordInputWidth + 10px;

  ul {
    width: $wordInputWidth - 6px;
    list-style: none;
    background: white;
    border: 3px $buttons solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0px;
    padding: 5px;

    li {
      width: $wordInputWidth - 6px;
      height: 20px;
      line-height: 20px;
      display: block;
      margin: 0px;
      padding: 0px;
      overflow: hidden;

      a {
        display: block;
        width: $wordInputWidth - 6px;
        height: 20px;
        line-height: 20px;
        display: block;
        margin: 0px;
        padding: 0px;
        color: $textColor !important;
        cursor: pointer;
        background: transparent;
      }
    }
  }
}

div.content {
  z-index: 1;
  margin: 60px auto 60px auto;
  padding: 10px 0px 10px 0px;
  width: 1000px;
}

div.footer {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: $lines;
  margin: 0px;
  padding: 0px;

  div.inside {
    width: 1000px;
    margin: 0px auto;
    padding: 0px;
  }

  p {
    color: white;
    text-align: center;
  }
}