// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.dictionary-list {
  margin: 20px 30px;

  li {
    text-transform: uppercase;
    font-size: 16px;
    padding: 3px 0px;
  }
}