// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$linkColor: #2c3e50;
$linkColorHover: #415b76;
$buttons: #1abc9c;
$buttonsHover: #48c9b0;
$fileInputWidth: 350px;

@keyframes buttonIn
{
0%   { background: $buttons; }
100% { background: $buttonsHover; }
}

@-webkit-keyframes buttonIn
{
0%   { background: $buttons; }
100% { background: $buttonsHover; }
}

@keyframes buttonOut
{
0%   { background: $buttonsHover; }
100% { background: $buttons; }
}

@-webkit-keyframes buttonOut
{
0%   { background: $buttonsHover; }
100% { background: $buttons; }
}

ul.dictionary-list {
  margin: 20px 30px;

  li {
    text-transform: uppercase;
    font-size: 16px;
    padding: 3px 0px;
  }
}

ul.download-list {
  margin: 10px 30px;
  display: block;
  width: 400px;
  float: left;
  li {
    a {
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: $linkColor;

      &:hover {
        text-decoration: underline;
        color: $linkColorHover;
      }
    }
  }

  li.title {
    margin-left: -30px;
  }
}

form.file-upload {
  margin-top: 20px;

  div.line {
    overflow: hidden;
    margin-bottom: 10px;
  }

  div.fake-text-input-file {
    background: white;
    height: 30px - 4px;
    width: $fileInputWidth;
    padding: 0px 5px;
    margin-right: 10px;
    border: 2px solid $buttons;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: white;
    float: left;
    overflow: hidden;
    position: relative;

    input[type=file] {
      position: absolute;
      opacity: 0;
      top: -5px;
      left: -5px;
      font-size: 20px;
    }

    p.text {
      line-height: 30px - 4px;
      height: 30px - 4px;
      overflow: hidden;
      width: 1000px;
    }
  }

  a.fake-button-file, a.submit {
    display: block;
    float: left;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: $buttons;
    color: white;
    animation: buttonOut 0.5s;
    -webkit-animation: buttonOut 0.5s;
    cursor: pointer;
    &:hover {
      animation: buttonIn 0.5s;
      -webkit-animation: buttonIn 0.5s;
      background: $buttonsHover;
    }
  }

  div.left {
    height: 30px;
    width: $fileInputWidth + 4px;
    padding: 0px 5px;
    margin-right: 10px;
    float: left;
  }
}